.screen {
    text-align: center;
    float: left;
    width: 100%;
}

.monitor iframe {
    width: 700px;
    height: 416px;
    border: 9px solid;
}

@media only screen and (max-width: 600px) {
    .monitor iframe {
        width: 90%;
        height: 300px;
        border: 9px solid;
    }
}