<header class="header header_style_01">
    <nav class="megamenu navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" (click)="toggleState()" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="index.html">
                    Gleios
                    <!-- <img src="../assets/images/logos/logo.png" alt="image"> -->
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" data-toggle="collapse">
                    <li><a routerLinkActive="active" routerLink="/home">Home </a></li>
                    <li><a routerLinkActive="active" routerLink="/about">About us</a></li>
                    <li><a routerLinkActive="active" routerLink="/solution">Our solution</a></li>
                    <li><a routerLinkActive="active" routerLink="/features">Features</a></li>
                    <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>