<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h4>About Us</h4>
                    <h2> Welcome to Gleio Solutions</h2>
                    <p>
                        Gleio a Online Hotel app which allows users to do online check in to hotel and allow to access all the services of hotel. This is a One Touch App where one can Access all Hotels and their departments .Gleio plays a Prominent Role in Guest Over All Stay
                        at your Hotel.Gleio launched its mobile app through a combination of high-touch customer support, social media outreach and traditional public relations, to make it to an app for Guests Ezee Check-In,Ezee Ordering,Ezee Feedback
                        and Hotels access .</p>
                </div>
                <!-- end messagebox -->
            </div>
            <!-- end col -->

            <div class="col-md-6">
                <div class="post-media wow fadeIn">
                    <img src="assets/images/g8.jpg" alt="" class="img-responsive img-rounded">
                </div>
                <!-- end media -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

        <hr class="hr1">

        <div class="row">
            <div class="col-md-6">
                <div class="post-media wow fadeIn">
                    <img src="assets/images/g1.jpg" alt="" class="img-responsive img-rounded">
                </div>
                <!-- end media -->
            </div>
            <!-- end col -->

            <div class="col-md-6">
                <div class="message-box">
                    <h4>How We are work</h4>
                    <h2>All Hotel Services and Facilities</h2>
                    <div class="">
                        Quick and Smooth Sign Up Process No-Standing in Queues at Reception for Check-In Process Just Collect Room Keys and can proceed to Room No more calling to Room Service desk All Hotel Services and Facilities are just a touch away
                    </div>
                </div>
                <!-- end messagebox -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end section -->