<div id="testimonials" class="parallax section db parallax-off" style="background-image:url('../assets/uploads/parallax_03.jpg');">
    <div class="section-title text-center">
        <h3>Happy Guests Says</h3>
        <h4>Don't just take our word for it, read below to see what our guests have to say about the Gleio Hotels.</h4>
    </div>
    <div class="col-md-12">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center">
                <!-- Quote 1 -->
                <div class="item active">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <p>
                                “ I love small boutique hotels and their local flavor and culture. I also love the comfort and amenities of big chains. This is the best of both worlds. On line reviews of this hotel are accurate...it's a great hotel in a great location, at a great price.
                                !
                            </p>
                            <small>Pawan, Microsoft Creative Director</small>
                        </div>
                    </div>
                </div>
                <!-- Quote 2 -->
                <div class="item">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <p>
                                “ Many thanks for the wonderful service and kindness extended to our group. We will recommend the Gleio Hotels every time! . </p>
                            <small>Nikhil, CSC Creative Designer</small>
                        </div>
                    </div>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <p> 5 Star Cleanliness. Has everything that could be needed-excellent. Very comfortable. Everything was more than we expected. Newspaper and continental breakfast was a nice touch. ”</p>
                            <small>Jayantha Sahoo, Infosys Technical Programmer</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt="">
                </li>
                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt="">
                </li>
                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                </li>
            </ol>

            <!-- Carousel Buttons Next/Prev -->
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="material-icons">
                  keyboard_arrow_left
                  </i></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="material-icons">
                  keyboard_arrow_right
                  </i></a>
        </div>
    </div>

</div>