
   	<div class="banner-area banner-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner">
						<h2>Features</h2>
						<ul class="page-title-link">
							<li><a href="#">Home</a></li>
							<li><a href="#">Features</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="features" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Features & Overviews</h3>
                <p class="lead">
                    Bringing the offline hotel experience finally into the digital realm for the comfort of the guests.
                </p>
           
            </div><!-- end title -->
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="features-left">
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                            <i class="flaticon-wordpress-logo"></i>
                            <div class="fl-inner">
                                <h4>Instant Registration</h4>
                                <p>Instantly signup and store all your ID Proofs/Contact Details in one app available readily. </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                            <i class="flaticon-windows"></i>
                            <div class="fl-inner">
                                <h4>On-the-go Check Ins</h4>
                                <p>Guest can send all Check-In info before reaching Hotels and avoid queues at Reception..
                                </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                            <i class="flaticon-price-tag"></i>
                            <div class="fl-inner">
                                <h4>Access Hotel Facilities in one tap</h4>
                                <p>Get Complete access to all of the Hotels Facilities on the tap. Like Food Ordering, Request for Room cleaning. </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                            <i class="flaticon-new-file"></i>
                            <div class="fl-inner">
                                <h4>Easy to Customize</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <img src="http://www.thisisswitch.com/images/gl-phones.png" class="img-center img-responsive" alt="">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="features-right">
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                            <i class="flaticon-pantone"></i>
                            <div class="fr-inner">
                                <h4>Add Friends & Family</h4>
                                <p>
                                    Add Friends & Family Guest Can Check-In Friends and their Companion in Hotels Room </p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                            <i class="flaticon-cloud-computing"></i>
                            <div class="fr-inner">
                                <h4>True Feedback
                                </h4>
                                <p>
                                    True Feedback Give feeback for each & every service if you want, or leave a feedback on popular platforms like TripAdvisors. </p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
                            <i class="flaticon-line-graph"></i>
                            <div class="fr-inner">
                                <h4>SEO Friendly</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <i class="flaticon-coding"></i>
                            <div class="fr-inner">
                                <h4>
                                    Multiple Reservations & Check Ins</h4>
                                <p>Gleio makes it very easy to handle & manage all of your hotel reservations & check-ins..
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end col -->
            </div>
            <hr class="hr1">

            <div class="row text-center">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="../../../assets/images/g3.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="../../../assets/images/g3.png" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Delay in Services? NOT ANYMORE </h3>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="../../../assets/images/g4.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="../../../assets/images/g4.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Sun rise check in made easy. Just switch to GLEIO APP</h3>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="../../../assets/images/g6.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="../../../assets/images/g6.jpg" alt="" class="img-responsive img-rounded">
                        </div>
                        <h3>Happy guest to you.</h3>
                    </div><!-- end service -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
