<app-slider>
</app-slider>

<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h1>About Gleio </h1>
                    <h3>Welcome to Gleio Solutions</h3>

                    <p> Gleio a Online Hotel app which allows users to do online check in to hotel and allow to access all the services of hotel. This is a One Touch App where one can Access all Hotels and their departments .Gleio plays a Prominent Role in
                        Guest Over All Stay at your Hotel.Gleio launched its mobile app through a combination of high-touch customer support, social media outreach and traditional public relations, to make it to an app for Guests Ezee Check-In,Ezee Ordering,Ezee
                        Feedback and Hotels access .</p>

                </div>
                <!-- end messagebox -->
            </div>
            <!-- end col -->

            <div class="col-md-6">
                <div class="post-media2 wow fadeIn">
                    <img src="http://gleioapp.com/images/screen2.png" alt="" class="img-responsive img-rounded">
                    <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax section noover" data-stellar-background-ratio="0.7" style="background-image:url('assets/uploads/parallax_05.png');">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="customwidget text-left">
                    <h1>Why Gleio for hotels?</h1>
                    <p>We've created a complete and innovative solution for hotels and booking partners </p>
                    <ul class="list-inline">
                        <li><i class="fa fa-check"></i> Maximise Revenue</li>
                        <li><i class="fa fa-check"></i> Reduce Human Error</li>
                        <li><i class="fa fa-check"></i> Profitable Platform</li>
                        <li><i class="fa fa-check"></i>Guests Management</li>
                        <li><i class="fa fa-check"></i>Increased Customer Delight</li>
                        <li><i class="fa fa-check"></i>Know Bottleknecks</li>

                    </ul>
                    <!-- end list -->
                    <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd">Learn More</a>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="text-center image-center hidden-sm hidden-xs">
                    <img src="http://gleioapp.com/images/slider2-mockup-alt-3.png" alt="" class="img-responsive wow fadeInUp">
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end section -->

<div id="features" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Features & Overviews</h3>
            <p class="lead">Bringing the offline hotel experience finally into
                <br>the digital realm for the comfort of the guests </p>
        </div>
        <!-- end title -->

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="features-left">
                    <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                        <i class="flaticon-wordpress-logo"></i>
                        <div class="fl-inner">
                            <h4>Instant Registration</h4>
                            <p>Instantly signup and store all your ID Proofs/Contact Details in one app available readily. </p>
                        </div>
                    </li>
                    <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                        <i class="flaticon-windows"></i>
                        <div class="fl-inner">
                            <h4>On-the-go Check Ins</h4>
                            <p>Guest can send all Check-In info before reaching Hotels and avoid queues at Reception..
                            </p>
                        </div>
                    </li>
                    <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                        <i class="flaticon-price-tag"></i>
                        <div class="fl-inner">
                            <h4>Access Hotel Facilities in one tap</h4>
                            <p>Get Complete access to all of the Hotels Facilities on the tap. Like Food Ordering, Request for Room cleaning. </p>
                        </div>
                    </li>
                    <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                        <i class="flaticon-new-file"></i>
                        <div class="fl-inner">
                            <h4>Easy to Customize</h4>
                            <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm imgphone">
                <img src="http://www.thisisswitch.com/images/gl-phones.png" class="img-center img-responsive" alt="">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="features-right">
                    <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                        <i class="flaticon-pantone"></i>
                        <div class="fr-inner">
                            <h4>Add Friends & Family</h4>
                            <p>
                                Add Friends & Family Guest Can Check-In Friends and their Companion in Hotels Room </p>
                        </div>
                    </li>
                    <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                        <i class="flaticon-cloud-computing"></i>
                        <div class="fr-inner">
                            <h4>True Feedback
                            </h4>
                            <p>
                                True Feedback Give feeback for each & every service if you want, or leave a feedback on popular platforms like TripAdvisors. </p>
                        </div>
                    </li>
                    <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
                        <i class="flaticon-line-graph"></i>
                        <div class="fr-inner">
                            <h4>SEO Friendly</h4>
                            <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                    </li>
                    <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                        <i class="flaticon-coding"></i>
                        <div class="fr-inner">
                            <h4>
                                Multiple Reservations & Check Ins</h4>
                            <p>Gleio makes it very easy to handle & manage all of your hotel reservations & check-ins..
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<div class="parallax section 



parallax-off" data-stellar-background-ratio="0.9" style="background-image:url('assets/uploads/parallax_04.jpg');">
    <div class="container">
        <div class="row text-center stat-wrap">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-briefcase"></i></span>
                <p class="stat_count">1200</p>
                <h3>Hotel</h3>
            </div>
            <!-- end col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-happy"></i></span>
                <p class="stat_count">3210</p>
                <h3>CHECK-INS</h3>
            </div>
            <!-- end col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-idea"></i></span>
                <p class="stat_count">3781</p>
                <h3>REVIEWS</h3>
            </div>
            <!-- end col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1"><i
                        class="flaticon-customer-service"></i></span>
                <p class="stat_count">43000</p>
                <h3>HAPPY GUESTS</h3>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>

<!-- end section -->
<app-youtube-video></app-youtube-video>
<app-fq-ask></app-fq-ask>
<app-review></app-review>

<!-- end section -->
<app-contact-us></app-contact-us>
<app-footer></app-footer>

<!-- end copyrights -->